<%- include('../partials/header') %><h1>Client Admin Portal</h1><div class="grid"><div class="card"><h3>Open Tasks</h3><b><%=stats.open%></b></div><div class="card"><h3>Complaints</h3><b><%=stats.complaints%></b></div><div class="card"><h3>Users</h3><b><%=stats.users%></b></div></div><p><a class="btn" href="/client/users">Create Client Users</a></p><%- include('../partials/footer') %>
